* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-image: url(image.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center; 
}
.header {
  width: 100%;
  top: 0px;
  height: 50px;
  position: fixed;
  background: rgb(3, 137, 214);
}


.content {
  min-height: calc(100vh - 50px);
}

.top-block {
  background-image: url(image.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.full-height-block {
  height: 100vh;
  width: 100%;
  display: flex;
}

.full-height-block-center {
  margin: auto;
  text-align: center;
}

.button-container {
  margin: 10px;
  display: flex;
  color: white;
}

.slide-button {
  border-radius: 10px;
  width: 150px;
  height: 40px;
  margin: 10px;
  padding: 5px;
}

.button-1 {
  background: blue;
}

.button-2 {
  background: red;
}

.footer {

  height: 50px;
  background: black;
}

.circle-logo {
  width: 200px;
	height: 200px;
	background:black;
	/* -moz-border-radius: 100px;
	-webkit-border-radius: 100px; */
  border-radius: 100px;
  margin: auto;
  display: flex;
}
.first-title {
  color: #fff;
  margin: auto;
}

ul.navigation {
  display: flex;
  float: right;
  margin: 0;
  padding: 0;
}

ul.navigation > li {
  display: block;
  padding: 15px;
}

ul.navigation a {
  color: white;
  text-decoration: none;
}
ul.navigation > li:hover {
  background: rgb(93, 102, 150);
}
ul.navigation > li:hover a {
  color: rgb(255, 217, 0);
}
.title-block {
  height: 200px;
  background-color: rgb(206, 229, 255);
  border: 1px solid black;
}
.slider {
  height: 600px;
}
.content-block {
  display: flex;
  height: 400px;
  align-items: center;
}
.content-block-circle {
  width: 150px;
	height: 150px;
	background:black;
  border-radius: 75px;
  display: flex;
  margin: 50px;
}
.content-block-text-wrapper {
  height: 100%;
  flex-grow: 1;
  padding: 50px;
}
.content-block-text {
  background: rgb(6, 25, 90);
  height: 100%;
  border-radius: 100px
}