html{
  height:100%;
  min-height:100%;
}

body{
  min-height:100%;
}

* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
  background-image: url(image.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  background: white;
  z-index: -1;
}

.header {
  width: 100%;
  top: 0;
  height: 50px;
  position: fixed;
  background: #00797f;
  z-index: 1;
}

.content {
  min-height: calc(100vh - 50px);
}

.full-height-block {
  height: 100vh;
  width: 100%;
  display: flex;
}

.full-height-block-center {
  margin: auto;
  text-align: center;
}

.button-container {
  margin: 10px;
  display: flex;
}

.button {
  border-radius: 10px;
  width: 150px;
  height: 40px;
  line-height: 40px;
  margin: 10px;
  cursor: pointer;
}

.button-1 {
  background: #8dd8d9;
}

.button-2 {
  background: #4dffa5;
}

.button-label {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.footer {
  height: 50px;
  text-align: center;
  padding-top: 20px;
  background: #00797f;
}

.circle-logo {
  width: 200px;
  height: 200px;
  background: #637272;
  border-radius: 100px;
  margin: auto;
  display: flex;
}

.first-title {
  color: #fff;
  margin: auto;
}

ul.navigation {
  display: flex;
  float: right;
  margin: 0;
  padding: 0;
}

ul.navigation > li {
  display: block;
  padding: 15px;
}

ul.navigation a {
  color: white;
  text-decoration: none;
}

ul.navigation > li:hover {
  background: rgb(93, 102, 150);
}

ul.navigation > li:hover a {
  color: rgb(255, 217, 0);
}

.title-block {
  height: 200px;
  line-height: 200px;
  background-color: #c1e7ff;
  text-align: center;
}

.title-inner {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.content-block {
  display: flex;
  min-height: 400px;
  align-items: center;
}

.content-block-circle {
  width: 150px;
  height: 150px;
  min-width: 150px;
  background-size: cover;
  background-image: url(img/cat.jpg);
  background-position: center;
  border-radius: 75px;
  display: flex;
  margin: 50px;
}

.content-block-text-wrapper {
  height: 100%;
  flex-grow: 1;
  padding: 50px;
}

.content-block-text {
  background: #81a5a6;
  height: 100%;
  border-radius: 40px;
  padding: 20px;
}

.slider-block {
  min-height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-2 {
  background: #81a5a6;
  width: 100%;
  height: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slider-thumbnail-content {
  width: 50%;
  margin-right: 0;
  display: flex;
}

.slider-thumbnail-text {
  width: 50%;
  margin: 40px;
  padding: 20px;
  opacity: 0.8;
  background: #ecddec;
}

.slider-1 {
  width: 80%;
}

.slider-1 div.slick-center {
  color: #e67e22;
  opacity: 1;
  transform: scale(1.2);
}

.slider-1-item,
.slider-2-for-item,
.slider-2-nav-item {
  overflow: hidden;
}

.slider-1-item > img,
.slider-2-for-item > img,
.slider-2-nav-item > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-1-item {
  width: 300px;
  height: 300px;
  margin: 50px;
  transition: all 0.5s;
}

.slider-2-for {
  padding: 40px;
  padding-bottom: 0;
  width: 100%;
}

.slider-2-for-item {
  width: 100%;
  height: 300px;
  margin: 20px;
  transition: all 0.5s;
}

.slider-2-nav {
  width: 80%;
}

.slider-2-nav-item {
  height: 50px;
  margin: 20px;
  transition: all 0.5s;
}

.slider-1-wrapper {
  background: rgba(255, 255, 255, 0.5);
}

.slick-prev {
  left: -40px;
}

.slick-next {
  right: -40px;
}

.slick-prev::before,
.slick-next::before {
  color: black;
}

@media only screen and (max-width: 900px) {
  .slider-2-nav-item {
    margin-left: 10px;
    margin-right: 10px;
  }

  .slider-block {
    flex-direction: column;
  }

  .slider-thumbnail-content {
    width: 80%;
  }

  .slider-thumbnail-text {
    width: 80%;
  }

  .content-block {
    flex-direction: column;
  }

  .content-block-text {
    border-radius: 20px;
  }

  .content-block-circle {
    width: 100px;
    height: 100px;
    min-width: 100px;
    border-radius: 50px;
    margin: 30px;
  }

  .slider-1-item {
    margin: 30px;
  }

  .content-block-text-wrapper {
    padding: 20px;
  }
}
